<h1>Bonjour ! Bienvenue sur le site TUTO-DECO !</h1>

<p>
    S'il vous plait, confirmez votre email en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email.</a>
    Ce lien va expirer dans {{ expiresAt|date('g') }} heures.
</p>

<p>
    Merci et à bientôt !
</p>
