<h1>Bonjour ! S'il vous plait, confirmez votre email.</h1>

<p>
    S'il vous plait, confirmez votre email en cliquant sur le lien ci-dessous : <br><br>
    <a href="{{ signedUrl|raw }}">Confirmer mon email.</a>.
    Ce lien va expirer dans {{ expiresAt|date('g') }} heures.
</p>

<p>
    A bientôt !
</p>
