<nav class="tutonav">
    <img src="{{ asset('uploads/logo/logo.png') }}" alt="logo" class="img-fluid tutologo">
    <ul class="navbar-nav">
        <li>
            <a href="#">Derniers tutos publiés</a>
        </li>
        <li>
            <a href="#">Les plus commentés</a>
        </li>
        <li>
            <a href="#">Les plus réalisés</a>
        </li>
    </ul>

</nav>