{% extends 'base.html.twig' %}

{% block body %}

<div class="row tuto-container flex-column">
    <h1>Bienvenue sur TutoDeco</h1>

    <div class="col-lg-4">
        {{ form_start(searchForm) }}
        {{ form_row(searchForm.title, {'label': " ", 'attr': {'placeholder': 'mot clé...'}}) }}
        <button class="btn tutodeco-btn my-2 my-sm-0">Rechercher</button>
        {{ form_end(searchForm) }}
    </div>

    <section id="content">
        <div class="row">

        {% for tutorial in tutorials %}
            {% include 'default/_tutocard.html.twig' %}
        {% endfor %}
        </div>

    </section>


    <div class="pagination">
        {{ knp_pagination_render(tutorials) }}
    </div>


</div>
{% endblock %}
