{% extends 'base.html.twig' %}

{% block body %}

    <div class="container">
        <div class="row tuto-container flex-column">
            <h1>L'équipe de Tuto-Déco</h1>
            <p>Nous sommes deux passionnés de décoration qui souhaitons rendre la décoration plus accessible et plus conviviale.</p>
            <div class="d-md-flex">
                <div class="col-md-4">
                    <img src="{{ asset('uploads/users/admin1.png') }}" alt="admin1" class="card-profile-image">
                    <div class="d-flex flex-md-column text-lg-center">
                        <h2>Amélie Laurentz</h2>
                        <p>Créatrice du site</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <img src="{{ asset('uploads/users/admin2.png') }}" alt="admin2" class="card-profile-image">
                    <div class="d-flex flex-md-column text-lg-center">
                        <h2>Guillaume Ransselau</h2>
                        <p>Super admin !</p>
                    </div>
                </div>
            </div>
            <h2 class="card-tuto-title-text">Vous souhaitez devenir administrateur ?</h2>
            <p>N'hésitez pas à nous envoyer votre CV :)</p>



        </div>

    </div>

{% endblock %}