{% extends 'base.html.twig' %}

{% block title %}Les tutos{% endblock %}

{% block body %}
    <div class="tuto-container">
        <h1>Tous les tutos</h1>
        <div class="row">
            {% for tutorial in tutorials %}
                <div class="col-lg-4">
                {% include 'default/_tutocard.html.twig' %}
                </div>
            {% endfor %}

        </div>
        <div class="pagination">
            {{ knp_pagination_render(tutorials) }}
        </div>
    </div>

{% endblock %}
