{% extends 'base.html.twig' %}

{% block title %}Nouveau tutoriel{% endblock %}

{% block body %}
    <h1>Créer un nouveau tuto</h1>

    {{ include('tutorial/_form.html.twig') }}
    

{% endblock %}
