{% extends 'base.html.twig' %}

{% block title %}Nouveau tutoriel{% endblock %}

{% block body %}
<section class="container card-border">
    <div class="row align-content-center card">
        <h1 class="login-container-h1 w-100">Créer un nouveau tuto</h1>
        <div class="p-2">

    {{ include('tutorial/_form.html.twig') }}
        </div>
    </div>
</section>
    

{% endblock %}
