{% extends 'base.html.twig' %}

{% block title %}Nouveau tutoriel{% endblock %}

{% block body %}
    <h1>Créer un nouveau tuto</h1>

    {{ include('tutorial/_form.html.twig') }}



    <a href="{{ path('tutorial_index') }}">back to list</a>
{% endblock %}
