@import "~bootstrap/scss/bootstrap";
@import url('https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap');
@import "~@fortawesome/fontawesome-free/css/all.css";
@font-face {
    $font-family-base : "Ropa Sans", "Helvetica Neue", sans-serif;
}

body {
    background-color: #E5E5E5;
}

.tutodeco-btn {
    background-color: #6EB5B1;
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    color: white;
    &:hover, &:active {
        background-color: #BBE6E3;
        border: none;
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem white;
    }

}

/*MENU DE NAVIGATION
Media queries pour le menu de navigation

pour écran de téléphone mobile (moins de 600px)*/
@media only screen  {
    .tutologo {
        left: 4.74%;
        right: 84.09%;
        top: 15%;
        height: 70%;
    }

    .navbar-nav {
        flex-direction: column;
        width: 100%;
        align-content: space-between;
    }
    .tutonav {
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: row;
        align-content: space-around;
        height: 5rem;
        position: fixed;
        left:0;
        bottom: 0;
        width: 100%;
        z-index: 3;
    }
}

/* pour tablettes en mode portrait et grands téléphones (600px et plus) */
@media only screen and (min-width: 576px) {

}

/* pour tablettes en mode paysage (768px et plus) */
@media only screen and (min-width: 768px) {

    .tutonav {
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: row;
        align-content: space-around;
        height: 5rem;
        position: relative;
        left:0;
        top: 0;
        width: 100%;
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top:3rem;
        margin-left: 3rem;
        margin-right: 3rem;
        align-items: center;
    }
}

/* pour écrans d'ordinateur (992px et plus) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* PAGE DÉCORATEUR */

.card-border {
    border-radius: 0;
    border-top: 10px solid #E5E5E5;
    border-bottom: 10px solid #E5E5E5;
    padding: 0;
}

.card-body {
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25)
}

.card-profile-subscribe {
    background-color: #BBE6E3;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
}

@media only screen  {

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .card-profile-id {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-profile-text {
        text-align: center;
    }
}

/* pour tablettes en mode portrait et grands téléphones (600px et plus) */
@media only screen and (min-width: 576px) {

}

/* pour tablettes en mode paysage (768px et plus) */
@media only screen and (min-width: 768px) {
    .card-border {
        border-radius: 0;
        border: 10px solid #E5E5E5;
        padding: 0;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 1rem;
    }
    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
        display: flex;
        flex-direction: row;
    }
    .card-profile-text {
        text-align: left;
    }
    .card-profile-follow {
        display: flex;
        flex-direction: column;
    }
}

/* pour écrans d'ordinateur (992px et plus) */
@media only screen and (min-width: 992px) {

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

}

/* PAGE TUTORIEL */

.card-tuto {
    background-color: transparent;
    border: none;
    &-body {
        box-shadow: none;
    }

    &-detail {
        background-color: #BBE6E3;
        padding: 0.2rem 1rem;
        border-radius: 1rem;
    }

    &-description {
        margin-top: 10rem;

    }
    &-edit {
        margin: 2px;
    }

    &-list {
        list-style: none;
        display: unset;
    }
    &-step {
        padding-left: 0;
    }
    &-title {
        text-align: center;
        width: 18rem;
        background-color: rgba(255,255,255, 0.7);
        padding: 5px;
        &text {
            font-size: 1rem;
        }
    }

    &-image {
        width: 18rem;
        height: 15rem;
        object-fit: cover;
        position: fixed;
        z-index: -1;
    }
    &-text {
        text-align: center;
        width: 18rem;
        background-color: rgba(255,255,255, 0.7);
        padding: 5px;
        margin-top: 5px;
    }

    &list-image {
        position: unset;
    }

}

/* pour tablettes en mode paysage (768px et plus) */
@media only screen and (min-width: 768px) {
    .card-tuto {
        background-color: white;
        border: 10px solid #E5E5E5;

        &-body {
            align-items: flex-start;
            box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        }
        &list-body {
            align-items: center;
            flex-direction: column;
        }

        &-image {
            position: relative;
            z-index: unset;
        }
        &-description {
            display: flex;
            flex-direction: column;
            margin-top: unset;
        }
        &-title {
            display: flex;
            align-items: baseline;
            text-align: left;
            width: 100%;
            height: unset;
        }
        &-text {
            text-align: left;
            width: 100%;
        }

    }
    .seemore-button {
        position: absolute;
        right: 40%;
        bottom: 50%;
    }
}

