@import "~bootstrap/scss/bootstrap";
@import "~@fortawesome/fontawesome-free/css/all.css";
/* ropa-sans-regular - latin */
@font-face {
    font-family: 'Ropa Sans';
    font-style: normal;
    font-weight: 400;
    font-display: auto;
    src: url('../fonts/ropa-sans-v10-latin-regular.eot'); /* IE9 Compat Modes */
    src: local('Ropa Sans Regular'), local('RopaSans-Regular'),
    url('../fonts/ropa-sans-v10-latin-regular.woff2') format('woff2'), /* Super Modern Browsers */
    url('../fonts/ropa-sans-v10-latin-regular.woff') format('woff'), /* Modern Browsers */
    url('../fonts/ropa-sans-v10-latin-regular.ttf') format('truetype'), /* Safari, Android, iOS */
    url('../fonts/ropa-sans-v10-latin-regular.svg#RopaSans') format('svg'), /* Legacy iOS */
    url('../fonts/ropa-sans-v10-latin-regular.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
}

/*
CSS général pour le site
*/

body {
    background-color: #E5E5E5;
    font-family: "Ropa Sans", "Helvetica Neue", sans-serif;
    padding-bottom: 6rem;
}

a {
    color: #6EB5B1 ;
    &:hover,:active,:focus {
        color: #558784;
    }
}

p {
    padding: 0.5rem;
}


.custom-file-label::after {
    content: "Rechercher";
}

.card {
    border: none;
    &-body {
        padding: 0;
    }
}
.navbar-toggler-icon{
    font-size: 2rem;
}

.tuto-background {
    background-color: #E5E5E5;
}

.tutodeco-btn {
    background-color: #6EB5B1;
    border: none;
    padding: 0.2rem 1rem;
    border-radius: 1rem;
    color: white;
    &:hover, &:active {
        background-color: #BBE6E3;
    }
    &:focus {
        box-shadow: 0 0 0 0.2rem white;
    }
    &-supp {
        background-color: #aa2c4e;
        border: none;
        padding: 0.2rem 1rem;
        border-radius: 1rem;
        color: white;
        margin-bottom: 1rem;
        &:hover, &:active {
            background-color: #ce8483;
        }
        &:focus {
            box-shadow: 0 0 0 0.2rem white;
        }
    }
    &-create {
        display: none;
        &-mobile {
            font-size: 2rem;
        }
    }
}


/* pour tablettes en mode paysage (768px et plus) */
@media only screen and (min-width: 768px) {
    .tutodeco-btn {
        &-create {
        display: inline;
            &-mobile {
                display: none;
            }
        }
    }
}

/*MENU DE NAVIGATION*/

.tutologo {
    left: 4.74%;
    right: 84.09%;
    top: 15%;
    height: 4rem;
}

.navbar-nav {
    flex-direction: column;
    width: 100%;
    align-content: space-between;
}
.tutonav {
    background: #FFFFFF;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    display: flex;
    flex-direction: row;
    align-content: space-around;
    position: fixed;
    left:0;
    bottom: 0;
    width: 100%;
    z-index: 3;
    &-flexbox {
        flex-direction: column;
    }
    &-top {
        display: flex;
        flex-direction: column-reverse;
        width: 90%;
        justify-content: space-around;
        align-items: center;
    }
}


/* pour tablettes en mode paysage (768px et plus) */
@media only screen and (min-width: 768px) {

    .tutonav {
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        display: flex;
        flex-direction: row;
        align-content: space-around;
        height: 6rem;
        position: relative;
        left:0;
        top: 0;
        width: 100%;
        &-top {
            display: flex;
            flex-direction: row;
        }
    }
    .navbar-nav {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        margin-top:0.5rem;
        margin-left: 3rem;
        margin-right: 3rem;
        align-items: center;
    }
}

/* PAGE DÉCORATEUR */

.card-border {
    border-radius: 0;
    padding: 0;
    margin-top: 10px;
    margin-bottom: 10px;
    width: 20rem;
}

.card-profile {
    &-subscribe {
        background-color: #BBE6E3;
        padding: 0.2rem 1rem;
        border-radius: 1rem;
    }
    &-follow {
        padding: 5px;
    }
    &-image {
        width: 20rem;
        height: 15rem;
        object-fit: cover;
    }
}

.card-tuto-list-image {
    width: 20rem;
    height: 15rem;
    object-fit: cover;
    position: unset;
    z-index: unset;
}

@media only screen  {

    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        align-items: center;
        display: flex;
        flex-direction: column;
    }
    .card-profile-id {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .card-profile-text {
        text-align: center;
    }
}

/* pour tablettes en mode paysage (768px et plus) */
@media only screen and (min-width: 768px) {
    .card-border {
        border-radius: 0;
        padding: 0;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        width: unset;
    }
    .container {
        padding-left: 15px;
        padding-right: 15px;
        margin-top: 1rem;
    }
    .card-body {
        flex: 1 1 auto;
        min-height: 1px;
        padding: 1.25rem;
        display: flex;
        flex-direction: row;
    }
    .card-profile-text {
        text-align: left;
    }
    .card-profile-follow {
        display: flex;
        flex-direction: column;
    }
}

/* PAGE TUTORIEL */

.tuto-container {
    background-color: white;
    & h1 {
        background-color: #6EB5B1;
        color: white;
        padding-left: 5px;
        text-align: center;
    }
}

.card-tuto {
    background-color: transparent;
    border: none;

    &-body-list {
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    }

    &-detail {
        background-color: #BBE6E3;
        padding: 0.2rem 1rem;
        border-radius: 1rem;
    }

    &-description {
        margin-top: 15rem;
        width: 20rem;
    }
    &-edit {
        margin: 2px;
    }

    &-image {
        width: 20rem;
        height: 15rem;
        object-fit: cover;
        position: fixed;
        z-index: -1;
    }
    &-list {
        list-style: none;
        display: unset;
        &-image {
            position: relative;
            z-index: unset;
        }
    }

    &-picto {
        background-color: white;
        display: flex;
        justify-content: space-around;
        font-size: 2rem;
        color: #6EB5B1;
        &-nb, &-nb:hover {
            color: #6EB5B1;
        }
    }
    &-step {
        padding-left: 0;
        &:last-child {
            margin-bottom: 25px;
        }
        &-image {
            width: 20rem;
            height: 15rem;
            object-fit: cover
        }
    }
    &-title {
        text-align: center;
        width: 20rem;
        background-color: rgba(255,255,255, 0.7);
        &-text {
            font-size: 1.5rem;
            padding: 5px;

        }
        & h2, h3, h5 {
            background-color: #6EB5B1 ;
            color: white;
            width: 100%;
            padding: 5px;
            margin-bottom: 0;
        }
    }
    &-text {
        text-align: center;
        width: 20rem;
        background-color: rgba(255,255,255, 0.7);
        padding: 5px;
        margin-top: 5px;
    }
}
.seemore-button {
    position: absolute;
    right: 40%;
    bottom: 50%;
}

.tuto-comment {
    margin: 1rem;
    &nb {
        font-size: 1rem;
        color : #6EB5B1;
        &:hover,:active,:focus {
            color: #558784;
            text-decoration: none;
        }
    }
}

/* pour tablettes en mode paysage (768px et plus) */
@media only screen and (min-width: 768px) {

    .tuto-container {
        & h1 {
            text-align: left;
        }
    }

    .card-tuto {
        &-body {
            align-items: flex-start;
            background-color: white;
            &-details {
                display: flex;
                flex-direction: column;
                padding-bottom: 0.7rem;
            }
            &-step {
                flex-direction: column;
                align-items: flex-start;
            }
        }

        &list-body {
            align-items: center;
            flex-direction: column;
        }

        &-image {
            position: relative;
            z-index: unset;
        }
        &-description {
            display: flex;
            flex-direction: column;
            margin-top: unset;
        }
        &-title {
            display: flex;
            align-items: baseline;
            text-align: left;
            width: 100%;
            height: unset;
        }
        &-text {
            text-align: left;
            width: 100%;
        }
        &-step {
            &:last-child {
                margin-bottom: unset;
            }
        }
    }
}

/* PAGE MY ACCOUNT */

.myaccount-tab {
    display: flex;
    justify-content: space-around;
}

.tuto-tab-content {
    display: flex;
    width: 100%;
    flex-direction: column;
}

.tuto-validinfo {
    text-align: center;
    &-text {
        margin-bottom: -1rem;
    }
}

/* pour tablettes en mode paysage (768px et plus) */
@media only screen and (min-width: 768px) {
    .tuto-tab-content {
        display: flex;
        width: 100%;
        flex-direction: row;
    }
}

/* CREER UN TUTORIEL */

.vich-image {
    & img {
        width: 20rem;
        height: 15rem;
        object-fit: cover
    }
}